DJANGO_SETTINGS_MODULE=config.settings.dev
SECRET_KEY=5bc8189867aadd28558dcdfd5322c33741445c88e6629e60cc5f88b171f1898a2ff062e22ae3a708d40ab9e7f476e3104c82
DEBUG=True

# Database
DB_NAME=virtual_hospital
DB_USER=vh_user
DB_PASSWORD=123456
DB_HOST=db
DB_PORT=5432
DB_CONN_MAX_AGE=60

# Redis
REDIS_URL=redis://:RedisPass123@redis:6379/0
REDIS_CACHE_URL=redis://:RedisPass123@redis:6379/1
REDIS_PASSWORD=RedisPass123

# Allowed hosts
ALLOWED_HOSTS=localhost,127.0.0.1

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# Neo4j / CDSS
NEO4J_URI=bolt://neo4j:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=123456
CDSS_MOCK_MODE=True

# Seed data
ADMIN_EMAIL=admin@hospital.com
ADMIN_PASSWORD=Admin@123!
STAFF_DEFAULT_PASSWORD=Staff@123!

# File uploads
MEDIA_ROOT=uploads/

# Email — not needed for local dev, leave as is
EMAIL_HOST=smtp.sendgrid.net
EMAIL_PORT=587
EMAIL_HOST_USER=apikey
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@hospital.com

# Error monitoring — disabled
SENTRY_DSN=